*{
    box-sizing: border-box;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

 input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
}


.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.logo img {
    color: white;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background: rgba(59, 58, 58, 0.9);
}

.logo img {
    color: white;
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 80px;
}

.nav_link {
    width: 70%;
    text-transform: uppercase;
    display: flex;
    list-style: none;
}

.nav_link li a {
    margin-left: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 0 20px;
    right: 10%;
}

.nav_link li a:hover {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.form button {
    padding: 3px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
#what{
    font-size: xX-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
